       <section class="input-container">
            <form action="/genCity", method="post"> 
             <div class="row">
                        <button >get top city</button>
                         <select name="getTopCity" id="searchGender">
                                <option value="Luzon"> Luzon </option>
                                <option value="Visayas"> Visayas </option>
                                <option value="Miandanao"> Mindanao </option>
                        </select>
                </div>
            </form>
            <form action="/genSpec", method="post"> 
             <div class="row">
                        <button >get top specialization</button>
                         <select name="getTopSpec" id="searchGender">
                                <option value="Luzon"> Luzon </option>
                                <option value="Visayas"> Visayas </option>
                                <option value="Miandanao"> Mindanao </option>
                        </select>
                </div>
            </form>
            <form action="/genHospi", method="post"> 
            <div class="row">
                        <button >get top hospital</button>
                         <select name="getTopHospi" id="searchGender">
                                <option value="Luzon"> Luzon </option>
                                <option value="Visayas"> Visayas </option>
                                <option value="Miandanao"> Mindanao </option>
                        </select>
                </div>
            </form>
       </section>
       
        <section class="input-container">
            
            <!-- Search and View an Appointment -->
            <div class="search-outer-container">
                <div class="search-inner-container">
                    <h3> Search and View Appointments </h3>
                    
                    <form action="/search", method="post"> 
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchApptId" name="searchApptId" placeholder="Appointment ID">
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control"  id="searchQueuedate" name="searchQueuedate" placeholder="Appointment Date">
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" id="searchPatientID" name="searchPxId" placeholder="Patient ID">
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" id="searchPatientAge"  name="searchPatients_Age" placeholder="Patient age">
                            </div>

                            <div class="col" id="col-gender">
                                <!--- gender -->
                                <label for="gender"> Gender: </label>
                                <select name="searchGender" id="searchGender">
                                    <option value="Female"> Female </option>
                                    <option value="Male"> Male </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchDoctorID" name="searchDoctorId" placeholder="Doctor ID">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchMainSpecialty"  name="searchMainSpecialty" placeholder="Main Specialty">
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchClientID" name="searchClientId" placeholder="Clinic ID">
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchHospitalName" name="searchHospitalName" placeholder="Hospital Name">
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchCity" name="searchCity" placeholder="City">
                            </div>

                            <!-- province -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchProvince" name="searchProvince" placeholder="Province">
                            </div>
                        </div>

                        <div class="row" id="row-regionname">
                            <div class="col" id="col-regionname">
                                <!--- region -->
                                <select name="searchRegionName" id="searchRegionName">
                                    <option value="National Capital Region (NCR)"> National Capital Region (NCR) </option>
                                    <option value="Ilocos Region (I)"> Ilocos Region (I) </option>
                                    <option value="Caraga (XIII)"> Caraga (XIII) </option>
                                    <option value="Cagayan Valley (II)"> Cagayan Valley (II) </option>
                                    <option value="Central Visayas (VII)"> Central Visayas (VII) </option>
                                    <option value="CALABARZON (IV-A)"> CALABARZON (IV-A) </option>
                                    <option value="Western Visayas (VI)"> Western Visayas (VI) </option>
                                    <option value="Central Luzon (III)"> Central Luzon (III) </option>
                                    <option value="MIMAROPA (IV-B)"> MIMAROPA (IV-B) </option>
                                    <option value="Bicol Region (V))"> Bicol Region (V) </option>
                                    <option value="Davao Region (XI)"> Davao Region (XI) </option>
                                    <option value="SOCCSKSARGEN (Cotabato Region) (XII)"> SOCCSKSARGEN (Cotabato Region) (XII) </option>
                                    <option value="Northern Mindanao (X)"> Northern Mindanao (X) </option>
                                    <option value="Zamboanga Peninsula (IX)"> Zamboanga Peninsula (IX) </option>
                                    <option value="Eastern Visayas (VIII)"> Eastern Visayas (VIII) </option>
                                    <option value="Cordillera Administrative Region (CAR))"> Cordillera Administrative Region (CAR) </option>
                                    <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)"> Bangsamoro Autonomous Region in Muslim Mindanao (BARMM) (VIII) </option>
                                </select>
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="searchIsland" id="searchIsland" required>
                                <option value="Luzon"> Luzon </option>
                                <option value="Visayas"> Visayas </option>
                                <option value="Mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="searchStatus" id="searchStatus">
                                <option value="Complete"> Complete </option>
                                <option value="Queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="Skip"> Skip </option>
                                <option value="Cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="searchType" id="searchType" required>
                                <option value="Consultation"> Consultation </option>
                                <option value="Inpatient"> Inpatient </option>
                            </select>
                        </div>
                        
                        <div class="btn-container">
                            <button id="view-submit-btn"> Search </button>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Insert new appointment -->
            <div class="insert-outer-container">
                <div class="insert-inner-container">
                    <h3> Insert an Appointment </h3>

                    <form action="/insert" method="post">
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertApptId" name="apptid", placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control" name="queuedate" id="insertQueuedate" placeholder="Appointment Date" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" id="insertPatientID" name="pxid" placeholder="Patient ID" required>
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" id="insertPatientAge" name="patients_age" placeholder="Patient age" required>
                            </div>

                            <!--- gender -->
                            <div class="col" id="col-gender">
                                <!--- gender -->
                                <label for="gender"> Gender: </label>
                                <select name="gender" id="insertGender">
                                    <option value="Female"> Female </option>
                                    <option value="Male"> Male </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertDoctorID" name="doctorid" placeholder="Doctor ID" required>
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertMainSpecialty" name="mainspecialty" placeholder="Main Specialty" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertClientID" name="clinicid" placeholder="Clinic ID" required>
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertHospitalName" name="hospitalname" placeholder="Hospital Name" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertCity" name="city" placeholder="City" required>
                            </div>
                            <!-- province -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertProvince" name="province" placeholder="Province" required>
                            </div>
                        </div>

                        <div class="row" id="row-regionname">
                            <div class="col" id="col-regionname">
                                <!--- region -->
                                <select name="regionName" id="regionname">
                                    <option value="National Capital Region (NCR)"> National Capital Region (NCR) </option>
                                    <option value="Ilocos Region (I)"> Ilocos Region (I) </option>
                                    <option value="Caraga (XIII)"> Caraga (XIII) </option>
                                    <option value="Cagayan Valley (II)"> Cagayan Valley (II) </option>
                                    <option value="Central Visayas (VII)"> Central Visayas (VII) </option>
                                    <option value="CALABARZON (IV-A)"> CALABARZON (IV-A) </option>
                                    <option value="Western Visayas (VI)"> Western Visayas (VI) </option>
                                    <option value="Central Luzon (III)"> Central Luzon (III) </option>
                                    <option value="MIMAROPA (IV-B)"> MIMAROPA (IV-B) </option>
                                    <option value="Bicol Region (V))"> Bicol Region (V) </option>
                                    <option value="Davao Region (XI)"> Davao Region (XI) </option>
                                    <option value="SOCCSKSARGEN (Cotabato Region) (XII)"> SOCCSKSARGEN (Cotabato Region) (XII) </option>
                                    <option value="Northern Mindanao (X)"> Northern Mindanao (X) </option>
                                    <option value="Zamboanga Peninsula (IX)"> Zamboanga Peninsula (IX) </option>
                                    <option value="Eastern Visayas (VIII)"> Eastern Visayas (VIII) </option>
                                    <option value="Cordillera Administrative Region (CAR))"> Cordillera Administrative Region (CAR) </option>
                                    <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)"> Bangsamoro Autonomous Region in Muslim Mindanao (BARMM) (VIII) </option>
                                </select>
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="island" id="insertIsland" required>
                                <option value="Luzon"> Luzon </option>
                                <option value="Visayas"> Visayas </option>
                                <option value="Mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="statuss" id="insertStatus" required>
                                <option value="Complete"> Complete </option>
                                <option value="Queued"> Queued </option>
                                <option value="Serving"> Serving </option>
                                <option value="Skip"> Skip </option>
                                <option value="Cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="type" id="insertType" required>
                                <option value="Consultation"> Consultation </option>
                                <option value="Inpatient"> Inpatient </option>
                            </select>
                        </div>

                        <div class="btn-container">
                            <button id="insert-submit-btn"> Insert </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Update an Appointment -->
            <div class="update-outer-container">
                <div class="update-inner-container">
                    <h3> Update an Appointment </h3>
                    
                    <form action="/update", method="post"> 
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateApptId" name="updateApptId" placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control"  id="updateQueuedate" name="updateQueuedate" placeholder="Appointment Date">
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" id="updatePatientID" name="updatePatients_ID" placeholder="Patient ID">
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" id="updatePatientAge" name="updatePatientAge" placeholder="Patient age">
                            </div>

                            <div class="col" id="col-gender">
                                <!--- gender -->
                                <label for="gender"> Gender: </label>
                                <select name="updateGender" id="updateGender">
                                    <option value="Female"> Female </option>
                                    <option value="Male"> Male </option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateDoctorID" name="updateDoctorID" placeholder="Doctor ID">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateMainSpecialty" name="updateMainSpecialty" placeholder="Main Specialty">
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateClinicID" name="updateClinicID" placeholder="Clinic ID">
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateHospitalName" name="updateHospitalName" placeholder="Hospital Name">
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateCity" name="updateCity" placeholder="City">
                            </div>
                            <!-- province -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateProvince" name="updateProvince" placeholder="Province">
                            </div>
                        </div>

                        <div class="row" id="row-regionname">
                            <div class="col" id="col-regionname">
                                <!--- region -->
                                <select name="updateRegionName" id="updateRegionName">
                                    <option value="National Capital Region (NCR)"> National Capital Region (NCR) </option>
                                    <option value="Ilocos Region (I)"> Ilocos Region (I) </option>
                                    <option value="Caraga (XIII)"> Caraga (XIII) </option>
                                    <option value="Cagayan Valley (II)"> Cagayan Valley (II) </option>
                                    <option value="Central Visayas (VII)"> Central Visayas (VII) </option>
                                    <option value="CALABARZON (IV-A)"> CALABARZON (IV-A) </option>
                                    <option value="Western Visayas (VI)"> Western Visayas (VI) </option>
                                    <option value="Central Luzon (III)"> Central Luzon (III) </option>
                                    <option value="MIMAROPA (IV-B)"> MIMAROPA (IV-B) </option>
                                    <option value="Bicol Region (V))"> Bicol Region (V) </option>
                                    <option value="Davao Region (XI)"> Davao Region (XI) </option>
                                    <option value="SOCCSKSARGEN (Cotabato Region) (XII)"> SOCCSKSARGEN (Cotabato Region) (XII) </option>
                                    <option value="Northern Mindanao (X)"> Northern Mindanao (X) </option>
                                    <option value="Zamboanga Peninsula (IX)"> Zamboanga Peninsula (IX) </option>
                                    <option value="Eastern Visayas (VIII)"> Eastern Visayas (VIII) </option>
                                    <option value="Cordillera Administrative Region (CAR))"> Cordillera Administrative Region (CAR) </option>
                                    <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)"> Bangsamoro Autonomous Region in Muslim Mindanao (BARMM) (VIII) </option>
                                </select>
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="updateIsland" id="updateIsland">
                                <option value="Luzon"> Luzon </option>
                                <option value="Visayas"> Visayas </option>
                                <option value="Mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="updateStatus" id="updateStatus">
                                <option value="Complete"> Complete </option>
                                <option value="Queued"> Queued </option>
                                <option value="Serving"> Serving </option>
                                <option value="Skip"> Skip </option>
                                <option value="Cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="updateType" id="updateType" required>
                                <option value="Consultation"> Consultation </option>
                                <option value="Inpatient"> Inpatient </option>
                            </select>
                        </div>
                        
                        <div class="btn-container">
                            <button type="submit" id="update-submit-btn"> Update </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Delete -->
            <div class="delete-outer-container">
                <div class="delete-inner-container">
                    <h3> Delete an appointment </h3>
                    
                    <form action="/delete", method="post"> 
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="deleteApptId" name="deleteApptId" placeholder="Appointment ID" required>
                            </div>

                            <div class="col" id="col-island">
                                <!-- island -->
                                <label for="island"> Island: </label>
                                <select name="deleteIsland" id="deleteIsland">
                                    <option value="Luzon"> Luzon </option>
                                    <option value="Visayas"> Visayas </option>
                                    <option value="Mindanao"> Mindanao </option>
                                </select>
                            </div>
                        </div>

                        <div class="btn-container">
                            <button id="view-submit-btn"> Delete </button>
                        </div>
                    </form>
                </div>
            </div>
        </section> 