        <section class="input-container">
            <!-- Insert new appointment -->
            <div class="insert-outer-container">
                <div class="insert-inner-container">
                    <h3> Insert an Appointment </h3>

                    <form action="#" method="post">
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control" placeholder="Appointment Date" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Patient ID" required>
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Patient age" required>
                            </div>
                            <!--- gender -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Patient Gender" required>
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Doctor ID" required>
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Main Specialty" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Clinic ID" required>
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Hospital Name" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="City" required>
                            </div>
                            <!-- regionname -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Region" required>
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Province" required>
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="island" id="island" required>
                                <option value="luzon"> Luzon </option>
                                <option value="visayas"> Visayas </option>
                                <option value="mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="status" id="status" required>
                                <option value="complete"> Complete </option>
                                <option value="queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="skip"> Skip </option>
                                <option value="cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="type" id="type" required>
                                <option value="consultation"> Consultation </option>
                                <option value="inpatietn"> Inpatient </option>
                            </select>
                        </div>

                        <div class="btn-container">
                            <button id="insert-submit-btn"> Insert </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Update an Appointment -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Update an Appointment </h3>
                    
                    <form action="#", method="post"> 
                           <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control" placeholder="Appointment Date">
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Patient ID">
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Patient age">
                            </div>
                            <!--- gender -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Patient Gender">
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Doctor ID">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Main Specialty">
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Clinic ID">
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Hospital Name">
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <!-- regionname -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Region">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Province">
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="island" id="island">
                                <option value="luzon"> Luzon </option>
                                <option value="visayas"> Visayas </option>
                                <option value="mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="status" id="status">
                                <option value="complete"> Complete </option>
                                <option value="queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="skip"> Skip </option>
                                <option value="cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="type" id="type">
                                <option value="consultation"> Consultation </option>
                                <option value="inpatietn"> Inpatient </option>
                            </select>
                        </div>
                        
                        <div class="btn-container">
                            <button id="update-submit-btn"> Update </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Search and View an Appointment -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Search and View Appointments </h3>
                    
                    <form action="#", method="post"> 
                           <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control" placeholder="Appointment Date">
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Patient ID">
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Patient age">
                            </div>
                            <!--- gender -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Patient Gender">
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Doctor ID">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Main Specialty">
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Clinic ID">
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Hospital Name">
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <!-- regionname -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Region">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Province">
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="island" id="island">
                                <option value="luzon"> Luzon </option>
                                <option value="visayas"> Visayas </option>
                                <option value="mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="status" id="status">
                                <option value="complete"> Complete </option>
                                <option value="queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="skip"> Skip </option>
                                <option value="cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="type" id="type">
                                <option value="consultation"> Consultation </option>
                                <option value="inpatietn"> Inpatient </option>
                            </select>
                        </div>
                        
                        <div class="btn-container">
                            <button id="view-submit-btn"> Search </button>
                        </div>
                    </form>
                </div>
            </div>

            <table class="appointment-table"> 
                <tr class="appointment-headings">
                    <th> Appointment ID </th>
                    <th> Type </th>
                    <th> Queuedate </th>
                    <th> Status </th>
                    <th> Patient ID </th>
                    <th> Patient Age </th>
                    <th> Patient Gender </th>
                    <th> Doctor ID </th>
                    <th> Main Specialty </th>
                    <th> Clinic ID </th>
                    <th> Hospital Name </th>
                    <th> City </th>
                    <th> Region </th>
                    <th> Island </th>
                </tr>

                <!-- table results -->
                <tr>
                    
                </tr>
            </table>
        </section>