<section class="input-container">
            <!-- Insert new appointment -->
            <div class="insert-outer-container">
                <div class="insert-inner-container">
                    <h3> Insert an Appointment </h3>
                    <div class="row">
                        <div class="col">
                        <input type="text" class="form-control" placeholder="Appointment ID" aria-label="Appointment ID">
                        </div>
                        <div class="col">
                            <input type="datetime-local" class="form-control" placeholder="Appointment Date" aria-label="Appointment Date">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Patient ID" aria-label="Patient ID">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Patient age" aria-label="Patient age">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Patient Gender" aria-label="Patient gender">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Region" aria-label="Region">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Hospital name" aria-label="Hospital name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Island" aria-label="Island">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Doctor ID" aria-label="Doctor ID">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Clinic ID" aria-label="Clinic ID">
                        </div>
                    </div>

                    <div class="dropdown-row">
                        <label for="status"> Status: </label>
                        <select name="status" id="status">
                        <option value="complete"> Complete </option>
                        <option value="queued"> Queued </option>
                        <option value="serving"> Serving </option>
                        <option value="skip"> Skip </option>
                        <option value="cancel"> Cancel </option>
                        </select>

                        <label for="type"> Type: </label>
                        <select name="type" id="type">
                        <option value="consultation"> Consultation </option>
                        <option value="inpatietn"> Inpatient </option>
                        </select>

                        {{!-- <label for="virtual"> Virtual: </label>
                        <select name="virtual" id="virtual">
                        <option value="true"> TRUE </option>
                        <option value="false"> FALSE </option>
                        </select> --}}
                    </div>

                    <div class="btn-container">
                        <button id="insert-submit-btn"> Submit </button>
                    </div>
                </div>
            </div>

            <!-- Search and View an Appointment -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Search and View Appointments </h3>
                    
                    <div class="row">
                        <div class="col">
                            <input type="date" class="form-control" placeholder="From" aria-label="From date">
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" placeholder="To" aria-label="To date">
                        </div>
                    </div>
                    
                    <div class="btn-container">
                        <button id="view-submit-btn"> Submit </button>
                    </div>
                </div>
            </div>
        </section>