        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-brand" href="#">
                    <img id="navbar-logo" src="/public/img/logo1.png" alt="logo" width="30" height="24" class="d-inline-block align-text-top">
                    <h2> SeriousMD Appointments </h2>
                </div>
            </div>
        </nav>