 <!-- Search and View an Appointment -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Search and View Appointments </h3>
                    
                    <div class="row">
                        <div class="col">
                            <input type="date" class="form-control" placeholder="From" aria-label="From date">
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" placeholder="To" aria-label="To date">
                        </div>
                    </div>
                    
                    <div class="btn-container">
                        <button id="view-submit-btn"> Submit </button>
                    </div>
                </div>
            </div>
        </section>