@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html::-webkit-scrollbar{
    display: none;
}

html{
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    display: flex;
    font-family: "Lexend", sans-serif;
    text-shadow: gray 1px 2px;
}

.navbar-brand h2 {
    margin-left: 1rem;
    margin-top: 1rem;
}

#navbar-logo {
    width: 4rem;
    height: 4rem;
}

#navbar-title, label, option, h3,
#submit-btn {
    font-family: "Lexend", sans-serif;
}

/* General */
.row {
    padding: 0.5rem;
}

label {
    margin-left: 3.5rem;
    margin-right: 1rem;
}


/* Insert */
.insert-inner-container {
    width: 50rem;
    height: 30rem;
    border: 2px solid rgb(141, 67, 67);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.dropdown-row {
    display: flex;
    margin-top: 1rem;
}


/* View */
.view-inner-container {
    width: 50rem;
    height: 30em;
    border: 2px solid rgb(141, 67, 67);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

/* Buttons */
.btn-container {
    margin-top: 2rem;
}

#insert-submit-btn,
#view-submit-btn,
#update-submit-btn {
    background-color: rgb(141, 67, 67);
    border-color: rgb(141, 67, 67);
    color: white;
    width: 10vw;
    height: 7vh;
}

#insert-submit-btn:hover,
#view-submit-btn:hover,
#update-submit-btn:hover {
    background-color: rgb(137, 32, 32);
    border-color: rgb(137, 32, 32);
}

/* Table */
.appointment-table {
    font-family: "Lexend", sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.appointment-table th, .appointment-table td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
}

.appointment-table th {
    background-color: #f2f2f2;
    color: black; 
    font-size: 12px; 
    padding: 12px 16px; 
}

.appointment-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Add a background color to even rows */
}

/* Apply a background color to odd rows */
.appointment-table tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.appointment-table td {
    padding: 12px 16px; 
}

.appointment-table tr:hover {
    background-color: #f5f5f5;
}